body{
    background-image: url("/images/galaxia.jpg");
    border: white 1px solid;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1%;
}

header {
    text-align: center;
    background-color: rgb(12, 241, 43);
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    border-radius: 50px 3px 50px 3px;
    border: 3px white solid;
}

section {
    text-align: center;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.2%;
    padding-bottom: 0.1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 70%;
    height: 70%;
    border-radius: 0px 20px 0px 20px;
}

img{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    max-width: 50%;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

footer {
    color: cornsilk;
    background-color: transparent;
    text-align: center;
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border: 2px rgb(30, 255, 0) solid;
}

a{  
    color: crimson;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr {
    margin-left: 10%;
    margin-right: 10%;
}