*{
    margin: 0;
    padding: 0;
}
#Nav{
    margin-left: auto;
    margin-right: 1px;
}

#Header{
    text-align: center;
}

#cabeza{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Opciones{

    margin-left: auto;
    margin-right: auto;
}

#Carta{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

#LogoNavBar{
    margin-top: auto;
    margin-bottom: auto;
}

#Footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    text-align: center;
}